# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.settings

# play-maven-plugin
lib/

# Emacs
*~

# Vim
*.swp
**/*.swp

# Output Folders
data/
target/
dependency-reduced-pom.xml

# Log Files
*.log

# MacOSX
.DS_Store
/.project

bower_components
node_modules

# Ignore emacs files
\#*#


